footer {
  background-color: #032541;
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.menu {
  display: flex;
}

.menu img {
  width: 150px;
  height: auto;
}

ul {
  list-style: none;
}
li {
  display: inline-block;
  color: #ffffff;
  padding: 0 10px;
  margin-left: 10px;
  font-weight: bold;
}
