.wrapper {
  max-width: 1300px;
  margin: auto;
  background-color: cadetblue;
}
.search {
  padding: 50px;
  color: #ffffff;
  font-size: 150%;
  background: url("../assets/main_bg_img.jpg") center no-repeat;
  background-size: cover;
}
.search input h3 {
  margin-top: -20px;
}
.search input {
  width: 90%;
  height: 50px;
  font-size: 18px;
  color: #999999;
  padding: 10px 20px;
  border: 0;
  border-radius: 30px;
  margin: 50px 0;
}

.search button {
  width: 10%;
  height: 50px;
  font-size: 18px;
  background-color: darkcyan;
  color: #ffffff;
  padding: 15px;
  border: 0;
  border-radius: 30px;
  margin: 20px 0;
  cursor: pointer;
}
